doctype
html(ng-app="app")
  head
    base(href='/')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/vendor.css')
    link(rel='stylesheet', href='css/app.css')
    title Twitter Extension
  body

    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation' ng-cloak)
      .container-fluid
        .navbar-header
          button.navbar-toggle
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#" data-eat-click) Twitter Extension

    .main-container.container-fluid
      div(ng-view)

    script(src="scripts/vendor.js")
    script(src="scripts/all.js")
    if watch
      script(src='http://localhost:35729/livereload.js')